OPENROUTER_API_KEY=
NEYNAR_API_KEY=
NEYNAR_SIGNER_UUID=
NEXT_PUBLIC_APP_URL=
PRIVY_APP_ID=cmnx9n2cd00210cl536akk4pe
BOT_USERNAME=alphawhispr
BOT_FID=
CRON_SECRET=
NEXT_PUBLIC_DONATION_ADDRESS=
NEXT_PUBLIC_WAITLIST_URL=
